.newsBlocks {
  margin-left: 10px;
}
.texts {
  margin-top: 20px;
  margin-right: 5px;
  max-width: 360px;
}

.title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  max-width: 360px;
}

.sources {
  margin-top: 20px;
  margin-bottom: 5px;
}

.dates {
  color: rgba(0, 0, 0, 0.44);
}

.imgs {
  margin-top: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 300px;
  max-width: 360px;
  margin-bottom: 15px;
}

.sourcesLinks {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-decoration-line: underline;

  color: #0EA9EC;
  margin-left: 60%;
  position: relative;
}

.sourcesLinks::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: url(img/external-1767969-1502305\ 1.png);
  background-repeat: no-repeat;
}
