.map {
  width: 63%;
  height: 800px;
  position: relative;
  /* padding-left: 100px; */
  display: block;
  margin-left: 40px;
  z-index: 0;
}

svg {
  pointer-events: none;
}

g {
  pointer-events: bounding-box;
}
