.head {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}


.countryImg {
  position: absolute;
  left: 72.5%;
  right: 23.28%;
  top: 5%;
  bottom: 95%;
  height: 48px;
  width: 48px;
  background-position: center;
  background-size: cover;
  background: url(img/_unknown.png);
  border: 2px solid #0ea9ec;
  border-radius: 32px;
  display: none;
}

div.countryName {
  position: absolute;
  

  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  text-decoration-line: underline;
  text-transform: capitalize;

  color: #0ea9ec;
}

.down {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 81.7%;
  top: 21.7%;

  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.headText {
  position: absolute;
  left: 5.36%;
  right: 63.23%;
  top: 0.2%;
  bottom: 92.04%;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.stats {
  font-size: 10px;
  position: absolute;
  top: 0.2%;
  right: 15%;
  left: 56%;
}

#currentCases {
  position: absolute;
  width: 116px;
  height: 12px;
  right: -28%;
  top: -4px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

#newCases {
  position: absolute;
  width: 116px;
  height: 12px;
  left: 125%;
  top: -4px;
  font-style: normal;
  font-weight: normal;
  color: #1d8440;
}

#deaths {
  position: absolute;
  width: 91px;
  height: 11px;
  right: -22.5%;
  top: 10px;
  font-style: normal;
  font-weight: normal;

  color: #000000;
}


#recovered {
  position: absolute;
  width: 109px;
  right: -27%;
  top: 23px;
  top: 23px;

  font-style: normal;
  font-weight: normal;

  color: #000000;
}
#recoveredText {
  position: absolute;
  width: 109px;
  height: 11px;
  left: 86%;
  top: 23px;

  font-style: normal;
  font-weight: normal;

  color: #000000;
}
#newRecovered {
  position: absolute;
  width: 116px;
  height: 12px;
  left: 93%;
  top: 23px;
  font-style: normal;
  font-weight: normal;
  color: #1d8440;
}
